<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow users="*" />
        </authorization>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="start.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
			    <rule name="test" enabled="false" stopProcessing="true">
                    <match url="(.*)$" />
                    <action type="Rewrite" url="01/{R:1}" />
                </rule>
								
				
				<rule name="test2" enabled="true" stopProcessing="true">
                    <match url="^(?!01)(?!02).+" />
                    <action type="Rewrite" url="01/index.html" />
                </rule>
				
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
